<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ayf.areyoufull.mapper.AddressMapper">
    <select id="findByAccountID" parameterType="Integer" resultType="com.ayf.areyoufull.entity.Address">
        select * from address where accountID = #{accountID}
    </select>
    <insert id="newAddress" parameterType="com.ayf.areyoufull.entity.Address">
        insert into address(accountID, address, phone)
        values(#{address.accountID},
               #{address.address},
               #{address.phone})
    </insert>
</mapper>