<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ayf.areyoufull.mapper.OrderMapper">
    <insert id="newOrder" parameterType="com.ayf.areyoufull.entity.Order">
        insert into orders(orderID, delivererID, userID, shopID, status, createTime, payTime, merchantAssureTime, merchantFinishTime, delivererGetTime, finishTime)
        values(#{order.orderID},
               #{order.delivererID},
               #{order.userID},
               #{order.shopID},
               #{order.status},
               #{order.createTime},
               #{order.payTime},
               #{order.merchantAssureTime},
               #{order.merchantFinishTime},
               #{order.delivererGetTime},
               #{order.finishTime})
    </insert>
    <delete id="deleteByOrderID" parameterType="Integer">
        delete from orders
        where orderID = #{orderID}
    </delete>
    <delete id="deleteByUserID" parameterType="Integer">
        delete from orders
        where userID = #{userID}
    </delete>
    <delete id="deleteByDelivererID" parameterType="Integer">
        delete from orders
        where delivererID = {#delivererID}
    </delete>
    <delete id="deleteByShopID" parameterType="Integer">
        delete from orders
        where shopID = #{shopID}
    </delete>
    <update id="updateOrder" parameterType="com.ayf.areyoufull.entity.Order">
        update orders
        set <if test="order.delivererID != null">
                delivererID = #{order.delivererID},
            </if>
            <if test="order.status != null">
                status = #{order.status},
            </if>
            <if test="order.payTime != null">
                payTime = #{order.payTime},
            </if>
            <if test="order.merchantAssureTime != null">
                merchantAssureTime = #{order.merchantAssureTime},
            </if>
            <if test="order.merchantFinishTime != null">
                merchantFinishTime = #{order.merchantFinishTime},
            </if>
            <if test="order.delivererGetTime != null">
                delivererGetTime = #{order.delivererGetTime},
            </if>
            <if test="order.finishTime != null">
                finishTime = #{order.finishTime}
            </if>
        where orderID = #{order.orderID}
    </update>
    <select id="findByOrderID" parameterType="Integer" resultType="com.ayf.areyoufull.entity.Order">
        select *
        from orders
        where orderID = #{orderID}
    </select>
    <select id="findByUserID" parameterType="Integer" resultType="com.ayf.areyoufull.entity.Order">
        select *
        from orders
        where userID = #{userID}
    </select>
    <select id="findByDelivererID" parameterType="Integer" resultType="com.ayf.areyoufull.entity.Order">
        select *
        from orders
        where delivererID = #{delivererID}
    </select>
    <select id="findByShopID" parameterType="Integer" resultType="com.ayf.areyoufull.entity.Order">
        select *
        from orders
        where shopID = #{shopID}
    </select>
    <select id="findByStatus" parameterType="Byte" resultType="com.ayf.areyoufull.entity.Order">
        select *
        from orders
        where status = #{status}
    </select>
    <select id="getNextID" resultType="Integer">
        select max(orderID) + 1 from orders
    </select>
</mapper>